amqp==2.6.1
arabic-reshaper==2.1.3
asgiref==3.4.1
Babel==2.9.1
billiard==3.6.4.0
braintree==4.11.0
celery==4.4.2
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
click==8.0.3
colorama==0.4.4
coverage==6.2
dj-database-url==0.5.0
Django==3.2.7
django-bona-blog==1.1.4
django-ckeditor==6.2.0
django-cors-headers==3.8.0
django-crispy-forms==1.13.0
django-easy-pdf==0.1.1
django-faker==0.2
django-filter==21.1
django-js-asset==1.2.2
django-mptt==0.13.3
django-range-slider==0.2.4
django-taggit==1.5.1
django-tinymce==3.4.0
django-utils-six==2.0
django-widget-tweaks==1.4.11
djangorestframework==3.12.4
djangorestframework-recursive==0.1.2
dnspython==2.1.0
eventlet==0.33.0
fake-factory==9999.9.9
flower==0.9.3
future==0.18.2
gevent==21.12.0
greenlet==1.1.2
gunicorn==20.1.0
html5lib==1.1
idna==3.3
kombu==4.6.11
Markdown==3.3.4
Pillow==8.3.2
psycopg2==2.9.1
pycparser==2.21
PyPDF2==1.26.0
python-bidi==0.4.2
python-random-name-generator==0.0.6
pytz==2021.1
redis==3.5.3
reportlab==3.6.3
requests==2.26.0
six==1.15.0
sqlparse==0.4.2
tornado==5.1.1
urllib3==1.26.7
vine==1.3.0
webencodings==0.5.1
whitenoise==5.3.0
xhtml2pdf==0.2.5
zope.event==4.5.0
zope.interface==5.4.0
