{% load static %}
{% block featured %}
    <div class="pageheader-content row">
     <div class="col-full">
        <div class="featured">
             {%for article in featured_articles %}
                   {%if forloop.counter == 1%}
                      <div class="featured__column featured__column--big">
                          <div class="entry" style="background-image:url({% static 'images/thumbs/featured/featured-guitarman.jpg' %});">
                              <div class="entry__content">
                                <span class="entry__category"><a href="#0">{{ article.category }}</a></span>

                                <h1>
                                    <a href="{% url 'Blog:get_article_detail_by_number' article.id %}" title="">
                                     {{ article.title}}
                                    </a>
                                </h1>

                                <div class="entry__info">
                                    <a href="#0" class="entry__profile-pic">
                                        <img class="avatar" src="{% static 'images/avatars/user-03.jpg' %}" alt="">
                                    </a>

                                     <ul class="entry__meta">
                                         <li><a href="#0">{{ article.author}}</a></li>
                                         <li>{{ article.date_published }}</li>
                                     </ul>
                                </div>
                            </div> <!-- end entry__content -->
                        </div> <!-- end entry -->
                    </div> <!-- end featured__big -->
                   {% elif forloop.counter == 2%}
                     <div class="featured__column featured__column--small">

                        <div class="entry" style="background-image:url({% static 'images/thumbs/featured/featured-watch.jpg' %});">

                            <div class="entry__content">
                                <span class="entry__category"><a href="#0">{{ article.category }}</a></span>

                                <h1><a href="{% url 'Blog:get_article_detail_by_number' article.id %}" title="">{{ article.title}}</a></h1>

                                <div class="entry__info">
                                    <a href="#0" class="entry__profile-pic">
                                        <img class="avatar" src="{% static 'images/avatars/user-03.jpg' %}" alt="">
                                    </a>

                                    <ul class="entry__meta">
                                        <li><a href="#0">{{ article.author}}</a></li>
                                        <li>{{ article.date_published }}</li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->

                        </div> <!-- end entry -->
                      {% else %}
                        <div class="entry" style="background-image:url({% static 'images/thumbs/featured/featured-beetle.jpg' %});">

                            <div class="entry__content">
                                <span class="entry__category"><a href="#0">{{ article.category }}</a></span>

                                <h1><a href="{% url 'Blog:get_article_detail_by_number' article.id %}" title="">{{ article.title}}</a></h1>

                                <div class="entry__info">
                                    <a href="#0" class="entry__profile-pic">
                                        <img class="avatar" src="{% static 'images/avatars/user-03.jpg' %}" alt="">
                                    </a>

                                    <ul class="entry__meta">
                                        <li><a href="#0">{{ article.author }}</a></li>
                                        <li>{{ article.date_published }}</li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->

                         </div> <!-- end entry -->
                     </div> <!-- end featured__small -->
                    {%endif%}
             {%endfor%}
                </div>
               <!-- end featured -->

            </div> <!-- end col-full -->
    </div>



{% endblock %}